.sidebar a{
    display: block;
    text-decoration: none;
    padding: 0.7em 0;
    color: rgba(197, 189, 189, 0.891);
    font-family: Arial, Helvetica, sans-serif ;
    margin: 14px;
    font-size: 15px;
}
.sidebar a:hover{
    color: rgb(4, 220, 4);
}

.side{
height: 100%;
background-color: #000000;
z-index: 1;

width: 200px;
}

.sidebar{
    font-size: 12px;
}

.table{
    padding-left: 20px;
    border-collapse: collapse;
    border-radius: 3px;
    margin: 10px;

    background: #FFFFFF;
   
 }
 th{
    color:rgba(91, 87, 87, 0.891) ;
 }

 td{
    color: #000000;
    padding: 40px;
    width: 150px;
    
    font-family: Arial, Helvetica, sans-serif;
    font: bold;
    margin-bottom: 300px;
 }
.card{
    background-color: aqua;
}

.big{
    display: flex;
    top: 100px;
    position: relative;
    left: 300px;
    height: auto;
}

.bb{
    justify-content: center;
    width: 100%;
    padding-left:  500px;
    margin-top: 300px;
    position: relative;
}

.progresse{
    width: 400px;
    height:150px;
    background-color: #FFFFFF;
    margin-left: 30px;
    margin-top: 12px;
}
 
.tab{
    width: 700px;
    height: 800px;
    margin-left: -10%;
}
.img2{
    margin-left: 295px;
    
}
/* //traviller de l'un */
body{
	text-align: center;
	background-color:  	#E5E5E5;
	
}
input{
	margin: 10px;
}
.FEEWI-img{
	position: absolute;
	right: 64rem;
	top: 5px;

}
h1{
	position: relative;
	left: -70px;
}
form{
	position: relative;
	left: -80px;
}
.image{
	width: 100px;
    left: 340px;
	position: relative;
	right: -5rem;
	top: 840px;
    padding-top:900px;
}
.image2{
	width: 210px;
    position: relative;
	right: -10rem;
	top: 500px;
    left: 500px;
    padding-top: 1600px;
}

.card-write{
	background-image: url('./img/cadre.png');
	position: absolute;
width: 680px;
height: 350px;
left: 0px;
top: 90%x;

background: gray;
border-radius: 30px;
}
/* // travailler de l'ature */









 